.dashboard {
  min-height: calc(100vh);
  background-color: #f7f8fa;
}

.dashboard-body {
  min-height: calc(100vh - 87px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-body h2 {
  font-weight: bold;
  color: #038edc;
}

/* Users + Update User + Add User */

.title-page {
  font-weight: bold;
  color: #038edc;
  margin: 10px 0 20px 10px;
}

/* Update User */
.form-dashboard {
  margin: 0 20px;
  padding-bottom: 25px;
}

.form-dashboard input {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(153, 152, 152, 0.785);
}

.form-product input {
  padding: 10px;
}

.form-dashboard input:focus {
  box-shadow: 0 0 5px #038ddccf;
}

.icon-eye-dashboard {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #aeaeae;
}

/* Progress */

.img-product {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.loding-img {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.3s;
}

.custom-progress {
  width: 100%;
  height: 9px;
  border-radius: 4px;
  background-color: rgb(214, 212, 212);
}

.inner-progress {
  position: relative;
  background-color: #0382cc;
  height: 100%;
  width: 0;
  display: block;
  border-radius: 10px;
  transition: 0.3s;
}

.inner-progress::after {
  content: attr(percent);
  position: absolute;
  background-color: rgb(171, 171, 171);
  color: white;
  width: 38px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 5px;
  top: -22px;
  right: -7px;
}

.icon-search {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.input-search::-webkit-search-cancel-button {
  display: none;
}